{% extends "back/base.html"%}

<!--新增的样式-->
{% block style %}
{% endblock %}

<!--主要内容-->
{% block body %}
<div class="container-fluid">
    <div class="body advert">
        <ol class="breadcrumb">
            <li><a href="/back/source_list">资源文章管理</a></li>
            <li class="active">文章列表</li>
        </ol>
        <div class="page-title">
            <a href="/back/source_add" class="btn btn-danger btn-sm pull-right">添加资源文章</a>
        </div>
        <div class="panel panel-default">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td>序号</td>
                    <th>标题</th>
                    <th>缩略图</th>
                    <th>是否收藏</th>
                    <th>价格</th>
                    <th>作者</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
        <!-- 分页 -->
        <ul id="pagination" class="pagination pull-right"></ul>
    </div>
</div>
{% endblock %}

<!--脚本-->
{% block script %}
<script src="./js/jquery.twbsPagination.js"></script>
<script>
    $(function () {
        // 1. 请求总页数
        let pageSize = 2;
        $.ajax({
            url: 'http://localhost:3000/back/source/api/count',
            type: 'get',
            success: function (data) {
                if (data.status === 200) {
                    // 初始化分页插件
                    $('#pagination').twbsPagination({
                        totalPages: Math.ceil(data.result / pageSize),
                        visiblePages: 5,
                        first: '首页',
                        prev: '上一页',
                        next: '下一页',
                        last: '尾页',
                        onPageClick: function (event, page) {
                            // 加载数据
                            loadData(page);
                        }
                    });
                } else {
                    alert('数据出现异常!!');
                }
            }
        });

        // 2. 加载数据
        function loadData(page){
            $.ajax({
                url: 'http://localhost:3000/back/source/api/list',
                type: 'get',
                data: {
                    page: page,
                    pageSize: pageSize
                },
                dataType: 'json',
                success: function (data) {
                    let tpl = ``;
                    $(data.result).each((index, source)=>{
                        tpl += `
                           <tr>
                            <td>${index + 1 }</td>
                            <td>${source.title}</td>
                            <td>
                                <img src="/uploads/${source.small_img}" alt="" style="width: 200px;">
                            </td>
                            <td>${source.is_store}</td>
                            <td>${source.price}</td>
                            <td>${source.author}</td>
                            <td>
                                <a data-id="${source._id}" class="btn btn-primary btn-xs btn-edit">编辑</a>
                                <a data-id="${source._id}" class="btn btn-danger btn-xs btn-del">删除</a>
                            </td>
                        </tr>
                        `;
                    });
                    $('#tbody').html(tpl);

                    // 3. 点击了修改按钮
                    $('.btn-edit').on('click', function () {
                        let sourceId = $(this).attr('data-id');
                        // 传递id
                        window.location.href = `/back/source_edit?sid=${sourceId}`;
                    });

                    // 4. 点击了删除按钮
                    $('.btn-del').on('click', function () {
                        let sourceId = $(this).attr('data-id');
                        // 2.1 发起ajax
                        $.ajax({
                            url: 'http://localhost:3000/back/source/api/remove/' + sourceId,
                            type: 'get',
                            dataType: 'json',
                            success: function (data) {
                                console.log(data);
                                if (data.status === 200) {
                                    alert('删除成功!');
                                } else {
                                    alert('删除失败!');
                                }
                                // 重新渲染页面
                                window.location.reload();
                            }
                        });
                    });
                }
            });
        }
    });
</script>

{% endblock %}
