<!-- 管理系统头部 -->
<div class="header">
    <nav class="navbar navbar-custom">
        <div class="navbar-header">
            <a href="javascript:;" class="navbar-brand">撩课数据分发管理系统</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:;"><i class="fa fa-cloud-upload"></i>教育云中心</a></li>
            <li><a href="javascript:;"><i class="fa fa-yelp"></i>分销中心</a></li>
            <li><a href="javascript:;"><i class="fa fa-xing"></i>CRM对接中心</a></li>
            <li><a href="/back/u_center"><i class="fa fa-user"></i>用户中心</a></li>
            <li><a href="javascript:;"><i class="fa fa-bell"></i><span class="badge">20</span></a></li>
            <li><a class="logout" style="cursor: pointer"><i class="fa fa-sign-out"></i>退出</a></li>
        </ul>
    </nav>
</div>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        $('.logout').on('click', function () {
            $.get('http://localhost:3000/back/user/api/logout', (data) => {
                if (data.status === 200) {
                    sessionStorage.removeItem('result')
                    window.location.href = '/back/login'
                }
            })
        })
    })
</script>
