{% extends "back/base.html"%}

<!--新增的样式-->
{% block style %}
<style>
    .preview {
        width: 300px;
        height: 250px;
        padding: 0;
        margin-left: 15px;
        overflow: hidden;
        position: relative;
    }

    .preview:hover .cover {
        background-color: rgba(0, 0, 0, 0.4);
    }

    .preview:hover .fa-upload {
        color: rgba(240, 240, 240, 0.8);
    }

    #upfile {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .cover {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 250px;
        font-size: 40px;
        background-color: rgba(0, 0, 0, 0);
        transition: all 0.3s;
    }

    .fa-upload {
        color: rgba(240, 240, 240, 0);
    }
</style>
{% endblock %}

<!--主要内容-->
{% block body %}
<div class="container-fluid">
    <div class="body advert">
        <!-- 面包屑 -->
        <ol class="breadcrumb">
            <li><a href="/back/source_list">资源文章管理</a></li>
            <li class="active">编辑文章</li>
        </ol>
        <div id="source_add" class="advert-add">
        </div>
    </div>
</div>
{% endblock %}

<!--脚本-->
{% block script %}
<script src="./js/wangEditor/wangEditor.js"></script>
<script>
    $(function () {
        // 1. 加载数据
        loadData();
    });

    function loadData() {
        // 1. 截取id
        let url = window.location.search, sourceId = '';
        if (url.indexOf('?') !== -1) { // 有?
            sourceId = url.substr(url.indexOf('=') + 1);
        }
        console.log(sourceId)
        // 2. 发起ajax请求
        $.ajax({
            url: 'http://localhost:3000/back/source/api/single/' + sourceId,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                // 2.1 注入数据
                let tpl = `
                  <form action="/back/source/api/edit" method="post" class="form-horizontal" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">标题</label>
                    <div class="col-md-5">
                        <input name="title" type="text" class="form-control input-sm" placeholder="请填写文章标题" value="${data.result.title}" required>
                    </div>
                </div>
               <div class="form-group">
                    <label for="" class="col-md-3 control-label">作者</label>
                    <div class="col-md-5">
                        <input name="author" type="text" class="form-control input-sm" placeholder="请填写作者"  value="${data.result.author}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">缩略图</label>
                     <div class="col-md-2 preview">
                        <img id="small_img" src="/uploads/${data.result.small_img}" style="border: 1px solid #e0e0e0;">
                        <input type="file" id="upfile">
                        <div class="cover">
                            <i class="fa fa-upload"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">价格</label>
                    <div class="col-md-5">
                        <input name="price" type="number" class="form-control input-sm" placeholder="请填写价格" value="${data.result.price}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">文章内容</label>
                    <div class="col-md-8">
                         <div id="editor"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        <input type="submit" class="btn btn-danger btn-sm pull-right" value="修改文章">
                    </div>
                </div>
            </form>
                `;
                $('#source_add').html(tpl);

                // 2.2 配置编辑器
                let E = window.wangEditor;
                let editor = new E('#editor');
                // 2.3 自定义上传图片事件
                editor.customConfig.customUploadImg = function (files, insert) {
                    // 2.1 上传图片到服务器
                    if (files.length > 0) { // 有图片文件
                        // 取出图片
                        let formData = new FormData();
                        formData.append('image_url', files[0]);
                        // 发起ajax请求
                        $.ajax({
                            url: 'http://localhost:3000/back/source/api/add_img',
                            type: 'post',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                if (data.status === 200) { // 上传成功
                                    insert(data.result);
                                }
                            }
                        });
                    }
                };
                editor.create();
                // 2.4 给编辑器设置内容
                editor.txt.html(data.result.content);

                // 2.5 上传图片加载处理
                $('#upfile').on('change', function () {
                    // 2.5.1 获取用户上传的图片文件
                    let file = $(this).get(0).files[0];
                    // 2.5.2 读取这个文件
                    let reader = new FileReader();
                    if (file) {
                        reader.readAsDataURL(file);
                    }
                    // 2.5.3 监听文件是否读取完毕
                    reader.onloadend = () => {
                        $('#small_img').attr('src', reader.result);
                    }
                });

                // 2.6 提交表单
                $('form').on('submit', function () {
                    // 2.6.1 获取编辑器中的内容
                    let content = editor.txt.html();
                    if(content){
                        // 2.6.2  初始化上传数据
                        let formData = new FormData($(this).get(0));
                        formData.append('id', data.result._id);
                        formData.append('content', content);
                        formData.append('small_img', $('#upfile').get(0).files[0] || data.result.small_img);
                        // 2.6.3 发起ajax请求
                        $.ajax({
                            url: $(this).attr('action'),
                            type:$(this).attr('method'),
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                if(data.status === 200){ // 添加成功
                                    alert('资源文章修改成功!');
                                    window.location.href = '/back/source_list'
                                }else {
                                    alert('资源文章修改失败!');
                                }
                            }
                        });
                    }else {
                        alert('请输入文章的内容!');
                    }
                    return false;
                });
            }
        });
    }
</script>
{% endblock %}
