<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>幼教服务系统</title>
    <meta name="keywords" content="幼教服务系统"/>
    <meta name="description" content="幼教服务系统"/>
    <link href="Css/common.css" rel="stylesheet" media="all"/>
    <link href="Css/index.css" rel="stylesheet" media="all"/>
    <script type="text/javascript" src="Scripts/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="Scripts/common.js"></script><!---焦点图js-->
    <script type="text/javascript" src="Scripts/scroll.js"></script><!--页面中滚动及从下到上滚动js-->
</head>
<body id="index">
<!--头部-->
<div id="web-headbar">
    <div class="web-head">
        <div class="mobile-app">
            <div class="app_l">
                <a href="http://www.todayyj.com" class="app">今日幼教</a>
            </div>
            <div class="app_l" onmouseover="qr_show(this)" onmouseout="qr_hide(this)">
                <a href="javascript:void(0)" class="app">今日小记者小程序</a>
                <div class="app-box" style="display:none">
                    <p>扫一扫，关注我吧！</p>
                    <div class="xcx-er"></div>
                </div>
            </div>
            <div class="app_r" onmouseover="qr_show(this)" onmouseout="qr_hide(this)">
                <a href="javascript:void(0)" class="weixin">幼教三六五微信公众平台</a>
                <div class="app-box weixin-box" style="display:none">
                    <p>扫一扫，关注我吧！</p>
                    <div class="weixin-er"></div>
                </div>
            </div>
        </div>
        <div class="head-tool">
            <div class="toolbox">
                <div class="toolbox-simple">
                    <a class="toolbox-one-link" href="login.html">登录</a>
                </div>
            </div>
            <div class="line">|</div>
            <div class="toolbox">
                <div class="toolbox-simple ">
                    <a href="register.html" class="toolbox-one-link" target="_blank">免费注册</a>
                </div>
            </div>
            <div class="line">|</div>
            <div class="toolbox">
                <div class="toolbox-simple toolbox-r">
                    <a href="#" class="toolbox-one-link" target="_blank">消息通知</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="Scripts/header.js"></script>


<!--头部end-->
<!--logo-->
<div id="headerbar_index">
    <div class="clearfix" id="header">
        <div class="logo">
            <a class="logo-img" href="/"></a>
        </div>
        <div class="search">
            <form class="search_box">
                <div class="fl">
                    <input name="kw" id="destoon_kw" type="text" class="search_i" placeholder="请输入关键词">
                </div>
                <div class="fr">
                    <button type="submit" value="" class="search_s"></button>
                </div>
            </form>
        </div>
        <div class="teltime">
            <div class="work-tel">400-100-5678</div>
            <div class="work-time">周一至周日 8:00-18:00</div>
        </div>
    </div>
</div>
<!--logo end-->

<!--菜单栏-->
<div class="menubar clearfix">
    <div class="w1280">
        <div class="modify clearfix" id="modify"><i></i><span>网站导航</span><em></em>
            <div class="sidebar fr">
                <ul class="">
                    <li class="list_li">
                        <div class="clearfix list_l ">
                            <span class="fl"><a href="#">幼教资源</a></span>
                            <span class="fr"><a href="" target="_blank"></a>&nbsp;&nbsp;</span>
                        </div>
                        <div class="list_r">
                            <ul>
                                <li class="clearfix"><h4 class="fl"><a href="#">教学活动小助手</a></h4></li>
                                <li class="clearfix"><h4 class="fl"><a href="#">亲子小学堂</a></h4></li>
                                <li class="clearfix"><h4 class="fl"><a href="#">培训教学</a></h4></li>
                                <li class="clearfix"><h4 class="fl"><a href="#">GT课程</a></h4></li>
                            </ul>
                        </div>
                    </li>
                    <li class="list_li">
                        <div class="clearfix list_l ">
                            <span class="fl"><a href="#">职场人生</a></span>
                            <span class="fr"><a href="" target="_blank"></a>&nbsp;&nbsp;</span>
                        </div>
                        <div class="list_r">
                            <ul>
                                <li class="clearfix"><h4 class="fl"><a href="#">职场人生分类1</a></h4></li>
                                <li class="clearfix"><h4 class="fl"><a href="#">职场人生分类2</a></h4></li>
                                <li class="clearfix"><h4 class="fl"><a href="#">职场人生分类3</a></h4></li>
                                <li class="clearfix"><h4 class="fl"><a href="#">职场人生分类4</a></h4></li>
                            </ul>
                        </div>
                    </li>
                    <li class="list_li">
                        <div class="clearfix list_l ">
                            <span class="fl"><a href="#">活动专区</a></span>
                            <span class="fr"><a href="" target="_blank"></a></span>
                        </div>
                        <div class="list_r">
                            <ul>
                                <li class="clearfix"><h4 class="fl"><a href="#">活动专区1</a></h4></li>
                                <li class="clearfix"><h4 class="fl"><a href="#">活动专区2</a></h4></li>
                                <li class="clearfix"><h4 class="fl"><a href="#">活动专区3</a></h4></li>
                                <li class="clearfix"><h4 class="fl"><a href="#">活动专区4</a></h4></li>
                            </ul>
                        </div>
                    </li>
                    <li class="list_li">
                        <div class="clearfix list_l ">
                            <span class="fl"><a href="#">直播课堂</a></span>
                            <span class="fr"><a href="" target="_blank"></a></span>
                        </div>
                        <div class="list_r">
                            <ul>
                                <li class="clearfix"><h4 class="fl"><a href="#">直播课堂1</a></h4></li>
                                <li class="clearfix"><h4 class="fl"><a href="#">直播课堂2</a></h4></li>
                                <li class="clearfix"><h4 class="fl"><a href="#">直播课堂3</a></h4></li>
                                <li class="clearfix"><h4 class="fl"><a href="#">直播课堂4</a></h4></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <ul class="navs clearfix">
            <li><a href="/web" class="on">首页</a></li>
            <li><a href="/web/res">幼教资源</a></li>
            <li><a href="#">职场人生</a></li>
            <li><a href="#">活动专区</a></li>
            <li><a href="#">直播课堂</a><img src="Images/new_ico.png" class="new_nav"/></li>
        </ul>
    </div>
</div><!--菜单栏end-->
<!--主体内容-->
<div class="mainWrap clearfix">
    <div class="banner_page">
        <ul class="banner_box">
            <li class="one" style="background:url(Images/banner.jpg) no-repeat top center">
                <a href="#" target="_blank"></a>
            </li>

            <li class="two" style="background:url(Images/banner.jpg) no-repeat top center">
                <a href="#" target="_blank"></a>
            </li>

            <li class="three" style="background:url(Images/banner.jpg) no-repeat top center">
                <a href="#" target="_blank"></a>
            </li>

            <li class="four" style="background:url(Images/banner.jpg) no-repeat top center">
                <a href="#" target="_blank"></a>
            </li>


        </ul>
        <ul class="btn_list clearfix">
            <li class="on"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
</div>
<!--主体内容end-->

<!--主体部分开始-->
<div class="mainwraper">
    <div class="content content01 clearfix">
        <div class="mainbox clearfix">
            <div class="resources_cat">
                <div class="resources_cat_ico"><img src="images/resources_cat_ico_1.png"/></div>
                <div class="resources_cat_name">教学活动小助手</div>
                <div class="resources_cat_content">
                    <p>
                        <a href="#">托班</a>
                        <a href="#">小班</a>
                        <a href="#">中班</a>
                        <a href="#">大班</a>
                    </p>
                    <p>
                        <a href="#">健康</a>
                        <a href="#">语言</a>
                        <a href="#">社会</a>
                        <a href="#">教学</a>
                        <a href="#">艺术</a>
                    </p>
                    <p>
                        <a href="#">教学设计</a>
                        <a href="#">教学课件</a>
                    </p>
                    <p>
                        <a href="#">图片</a>
                        <a href="#">文档</a>
                        <a href="#">音频</a>
                        <a href="#">视频</a>
                        <a href="#">课件</a>
                        <a href="#">综合多媒体</a>
                    </p>
                </div>
            </div>

            <div class="resources_cat">
                <div class="resources_cat_ico"><img src="images/resources_cat_ico_2.png"/></div>
                <div class="resources_cat_name">亲子小学堂</div>
                <div class="resources_cat_content">
                    <p>
                        <a href="#">早上</a>
                        <a href="#">傍晚</a>
                        <a href="#">餐前</a>
                        <a href="#">饭后</a>
                        <a href="#">睡前</a>
                        <a href="#">周末</a>
                        <a href="#">特殊节日</a>
                    </p>
                    <p>
                        <a href="#">客厅</a>
                        <a href="#">卧室</a>
                        <a href="#">厨卫</a>
                        <a href="#">阳台</a>
                        <a href="#">户外</a>
                        <a href="#">路上</a>
                        <a href="#">其他</a>
                    </p>
                    <p>
                        <a href="#">外婆/奶奶</a>
                        <a href="#">外公/爷爷</a>
                    </p>
                    <p>
                        <a href="#">妈妈</a>
                        <a href="#">爸爸</a>
                        <a href="#">兄弟姐妹</a>
                        <a href="#">全家</a>
                    </p>
                    <p>
                        <a href="#">托班</a>
                        <a href="#">小班</a>
                        <a href="#">中班</a>
                        <a href="#">大班</a>
                    </p>
                </div>
            </div>

            <div class="resources_cat">
                <div class="resources_cat_ico"><img src="images/resources_cat_ico_3.png"/></div>
                <div class="resources_cat_name">培训教学</div>
                <div class="resources_cat_content">
                    <p>
                        <a href="#">园所管理</a>
                        <a href="#">园所理念</a>
                    </p>
                    <p>
                        <a href="#">园所发展</a>
                        <a href="#">园所经验</a>
                        <a href="#">园所业务</a>
                    </p>
                    <p>
                        <a href="#">育儿理念</a>
                        <a href="#">突出问题</a>
                    </p>
                    <p>
                        <a href="#">教师经验</a>
                        <a href="#">教师发展</a>
                        <a href="#">教师技能</a>
                        <a href="#">教师情感</a>
                    </p>
                    <p>
                        <a href="#">幼小链接</a>
                        <a href="#">育儿百科</a>
                    </p>
                </div>
            </div>

            <div class="resources_cat">
                <div class="resources_cat_ico"><img src="images/resources_cat_ico_4.png"/></div>
                <div class="resources_cat_name">GT课程</div>
                <div class="resources_cat_content">
                    <p>
                        <a href="#">托班</a>
                        <a href="#">小班</a>
                        <a href="#">中班</a>
                        <a href="#">大班</a>
                    </p>
                    <p>
                        <a href="#">9月</a>
                        <a href="#">10月</a>
                        <a href="#">11月</a>
                        <a href="#">12月</a>
                        <a href="#">1月</a>
                        <a href="#">2月</a>
                        <a href="#">3月</a>
                        <a href="#">4月</a>
                        <a href="#">5月</a>
                    </p>
                    <p>
                        <a href="#">亲子活动</a>
                        <a href="#">游戏活动</a>
                        <a href="#">家长课程</a>
                    </p>
                </div>
            </div>

        </div>
    </div>


    <div class="content content01 clearfix">
        <div class="mainbox clearfix">
            <div class="lm_title">幼教资源</div>
            <div class="lm_desc">共有<span class="lm_desc_num">3732</span>条资源，供您选择学习</div>
            <div class="lm_more"><span class="lm_more_ico"></span><span class="lm_mores">查看更多</span></div>
            <div class="resource_cons">
                <div class="resource_con">
                    <a href="#">
                        <div class="resource_con_pic">
                            <img src="images/resource_con_pic_1.jpg"/>
                        </div>
                        <div class="resource_con_title">走出幼儿园环境创设的误区</div>
                        <div class="resource_con_other">
                            <span class="resource_con_other_favico"><img src="images/fav_ico_ed.png"/></span>
                            <span class="resource_con_other_fav">收藏</span>
                            <span class="resource_con_other_price">￥199</span>
                        </div>
                    </a>
                </div>
                <div class="resource_con">
                    <a href="#">
                        <div class="resource_con_pic">
                            <img src="images/resource_con_pic_2.jpg"/>
                        </div>
                        <div class="resource_con_title">以问题为阶梯提升班级的工作</div>
                        <div class="resource_con_other">
                            <span class="resource_con_other_favico"><img src="images/fav_ico.png"/></span>
                            <span class="resource_con_other_fav">收藏</span>
                            <span class="resource_con_other_free">免费</span>
                        </div>
                    </a>
                </div>
                <div class="resource_con">
                    <a href="#">
                        <div class="resource_con_pic">
                            <img src="images/resource_con_pic_3.jpg"/>
                        </div>
                        <div class="resource_con_title">走出幼儿园环境创设的误区</div>
                        <div class="resource_con_other">
                            <span class="resource_con_other_favico"><img src="images/fav_ico_ed.png"/></span>
                            <span class="resource_con_other_fav">收藏</span>
                            <span class="resource_con_other_price">￥199</span>
                        </div>
                    </a>
                </div>
                <div class="resource_con">
                    <a href="#">
                        <div class="resource_con_pic">
                            <img src="images/resource_con_pic_4.jpg"/>
                        </div>
                        <div class="resource_con_title">以问题为阶梯提升班级的工作</div>
                        <div class="resource_con_other">
                            <span class="resource_con_other_favico"><img src="images/fav_ico.png"/></span>
                            <span class="resource_con_other_fav">收藏</span>
                            <span class="resource_con_other_free">免费</span>
                        </div>
                    </a>
                </div>
                <div class="resource_con">
                    <a href="#">
                        <div class="resource_con_pic">
                            <img src="images/resource_con_pic_2.jpg"/>
                        </div>
                        <div class="resource_con_title">走出幼儿园环境创设的误区</div>
                        <div class="resource_con_other">
                            <span class="resource_con_other_favico"><img src="images/fav_ico_ed.png"/></span>
                            <span class="resource_con_other_fav">收藏</span>
                            <span class="resource_con_other_price">￥199</span>
                        </div>
                    </a>
                </div>
                <div class="resource_con">
                    <a href="#">
                        <div class="resource_con_pic">
                            <img src="images/resource_con_pic_3.jpg"/>
                        </div>
                        <div class="resource_con_title">以问题为阶梯提升班级的工作</div>
                        <div class="resource_con_other">
                            <span class="resource_con_other_favico"><img src="images/fav_ico.png"/></span>
                            <span class="resource_con_other_fav">收藏</span>
                            <span class="resource_con_other_free">免费</span>
                        </div>
                    </a>
                </div>
                <div class="resource_con">
                    <a href="#">
                        <div class="resource_con_pic">
                            <img src="images/resource_con_pic_4.jpg"/>
                        </div>
                        <div class="resource_con_title">走出幼儿园环境创设的误区</div>
                        <div class="resource_con_other">
                            <span class="resource_con_other_favico"><img src="images/fav_ico_ed.png"/></span>
                            <span class="resource_con_other_fav">收藏</span>
                            <span class="resource_con_other_price">￥199</span>
                        </div>
                    </a>
                </div>
                <div class="resource_con">
                    <a href="#">
                        <div class="resource_con_pic">
                            <img src="images/resource_con_pic_1.jpg"/>
                        </div>
                        <div class="resource_con_title">以问题为阶梯提升班级的工作</div>
                        <div class="resource_con_other">
                            <span class="resource_con_other_favico"><img src="images/fav_ico.png"/></span>
                            <span class="resource_con_other_fav">收藏</span>
                            <span class="resource_con_other_free">免费</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="content content01 clearfix">
        <div class="mainbox clearfix">
            <div class="lm_title">职场人生</div>
            <div class="lm_desc"></div>
            <div class="lm_more"><span class="lm_more_ico"></span><span class="lm_mores">查看更多</span></div>
            <div class="joblife_cons">
                <div class="joblife_con">
                    <a href="#">
                        <div class="joblife_con_pic">
                            <img src="images/joblife_con_pic_1.jpg"/>
                        </div>
                        <div class="joblife_con_title">国家统计局权威发布统计信息</div>
                        <div class="joblife_con_other">
                            <span class="joblife_con_other_avatar"><img
                                    src="images/joblife_con_other_avatar.png"/></span>
                            <span class="joblife_con_other_teacher">来自：刘晶波教授</span>
                        </div>
                    </a>
                </div>
                <div class="joblife_con">
                    <a href="#">
                        <div class="joblife_con_pic">
                            <img src="images/joblife_con_pic_2.jpg"/>
                        </div>
                        <div class="joblife_con_title">幼儿教育开展游戏教学的措施分析</div>
                        <div class="joblife_con_other">
                            <span class="joblife_con_other_avatar"><img
                                    src="images/joblife_con_other_avatar.png"/></span>
                            <span class="joblife_con_other_teacher">来自：刘晶波教授</span>
                        </div>
                    </a>
                </div>
                <div class="joblife_con">
                    <a href="#">
                        <div class="joblife_con_pic">
                            <img src="images/joblife_con_pic_1.jpg"/>
                        </div>
                        <div class="joblife_con_title">国家统计局权威发布统计信息</div>
                        <div class="joblife_con_other">
                            <span class="joblife_con_other_avatar"><img
                                    src="images/joblife_con_other_avatar.png"/></span>
                            <span class="joblife_con_other_teacher">来自：刘晶波教授</span>
                        </div>
                    </a>
                </div>
                <div class="joblife_con">
                    <a href="#">
                        <div class="joblife_con_pic">
                            <img src="images/joblife_con_pic_2.jpg"/>
                        </div>
                        <div class="joblife_con_title">幼儿教育开展游戏教学的措施分析</div>
                        <div class="joblife_con_other">
                            <span class="joblife_con_other_avatar"><img
                                    src="images/joblife_con_other_avatar.png"/></span>
                            <span class="joblife_con_other_teacher">来自：刘晶波教授</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="content content01 clearfix">
        <div class="mainbox clearfix">
            <div class="lm_title">精彩活动</div>
            <div class="lm_desc"></div>
            <div class="lm_more"><span class="lm_more_ico"></span><span class="lm_mores">查看更多</span></div>
            <div class="activitie_cons">
                <div class="activitie_con">
                    <a href="#">
                        <div class="activitie_con_pic">
                            <img src="images/activitie_con_pic_1.jpg"/>
                        </div>
                        <div class="activitie_con_title">黄埔军校7天军事体验营（广州 ）</div>
                        <div class="activitie_con_desc">塑造坚强、刚毅、守纪、紧张、服从的军人品质，培养讲形象、爱卫生、懂礼貌、自立能力，养成军人般良好的行为习惯及日常生活习惯。
                        </div>
                        <div class="activitie_con_other">
                            <span class="resource_con_other_likeico"><img src="images/like_ico.png"/></span>
                            <span class="resource_con_other_like">关注</span>
                            <span class="resource_con_other_signup">报名</span>
                            <span class="resource_con_other_signupico"><img src="images/signup_ico.png"/></span>
                        </div>
                    </a>
                </div>
                <div class="activitie_con">
                    <a href="#">
                        <div class="activitie_con_pic">
                            <img src="images/activitie_con_pic_2.jpg"/>
                        </div>
                        <div class="activitie_con_title">黄埔军校7天军事体验营（广州 ）</div>
                        <div class="activitie_con_desc">塑造坚强、刚毅、守纪、紧张、服从的军人品质，培养讲形象、爱卫生、懂礼貌、自立能力，养成军人般良好的行为习惯及日常生活习惯。
                        </div>
                        <div class="activitie_con_other">
                            <span class="resource_con_other_likeico"><img src="images/like_ico.png"/></span>
                            <span class="resource_con_other_like">关注</span>
                            <span class="resource_con_other_signup">报名</span>
                            <span class="resource_con_other_signupico"><img src="images/signup_ico.png"/></span>
                        </div>
                    </a>
                </div>
                <div class="activitie_con">
                    <a href="#">
                        <div class="activitie_con_pic">
                            <img src="images/activitie_con_pic_3.jpg"/>
                        </div>
                        <div class="activitie_con_title">黄埔军校7天军事体验营（广州 ）</div>
                        <div class="activitie_con_desc">塑造坚强、刚毅、守纪、紧张、服从的军人品质，培养讲形象、爱卫生、懂礼貌、自立能力，养成军人般良好的行为习惯及日常生活习惯。
                        </div>
                        <div class="activitie_con_other">
                            <span class="resource_con_other_likeico"><img src="images/like_ico.png"/></span>
                            <span class="resource_con_other_like">关注</span>
                            <span class="resource_con_other_signup">报名</span>
                            <span class="resource_con_other_signupico"><img src="images/signup_ico.png"/></span>
                        </div>
                    </a>
                </div>
                <div class="activitie_con">
                    <a href="#">
                        <div class="activitie_con_pic">
                            <img src="images/activitie_con_pic_4.jpg"/>
                        </div>
                        <div class="activitie_con_title">黄埔军校7天军事体验营（广州 ）</div>
                        <div class="activitie_con_desc">塑造坚强、刚毅、守纪、紧张、服从的军人品质，培养讲形象、爱卫生、懂礼貌、自立能力，养成军人般良好的行为习惯及日常生活习惯。
                        </div>
                        <div class="activitie_con_other">
                            <span class="resource_con_other_likeico"><img src="images/like_ico.png"/></span>
                            <span class="resource_con_other_like">关注</span>
                            <span class="resource_con_other_signup">报名</span>
                            <span class="resource_con_other_signupico"><img src="images/signup_ico.png"/></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="content content01 clearfix">
        <div class="mainbox clearfix">
            <div class="lm_title">直播课堂</div>
            <div class="lm_desc"></div>
            <div class="lm_more"><span class="lm_more_ico"></span><span class="lm_mores">查看更多</span></div>
            <div class="live_cons">
                <div class="live_con">
                    <a href="#">
                        <div class="live_con_pic">
                            <img src="images/live_con_pic_1.jpg"/>
                            <div class="live_con_top">
                                <div class="live_con_title">7月24日16:00直播</div>
                                <div class="live_con_desc">母亲情绪平和是对孩子最好的教育</div>
                                <div class="live_con_other">
                                    <span class="live_con_other_avatar"><img
                                            src="images/live_con_other_avatar.png"/></span>
                                    <span class="live_con_other_teacher">刘晶波教授</span>
                                </div>
                            </div>
                            <div class="live_con_bottom">
                                <span class="live_con_bottom_subscribe_ico"><img src="images/subscribe_ico.png"/></span>
                                <span class="live_con_bottom_subscribe">订&nbsp;&nbsp;阅</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="live_con">
                    <a href="#">
                        <div class="live_con_pic">
                            <img src="images/live_con_pic_2.jpg"/>
                            <div class="live_con_top">
                                <div class="live_con_title">7月24日16:00直播</div>
                                <div class="live_con_desc">母亲情绪平和是对孩子最好的教育</div>
                                <div class="live_con_other">
                                    <span class="live_con_other_avatar"><img
                                            src="images/live_con_other_avatar.png"/></span>
                                    <span class="live_con_other_teacher">刘晶波教授</span>
                                </div>
                            </div>
                            <div class="live_con_bottom">
                                <span class="live_con_bottom_subscribe_ico"><img src="images/subscribe_ico.png"/></span>
                                <span class="live_con_bottom_subscribe">订&nbsp;&nbsp;阅</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="live_con">
                    <a href="#">
                        <div class="live_con_pic">
                            <img src="images/live_con_pic_3.jpg"/>
                            <div class="live_con_top">
                                <div class="live_con_title">7月24日16:00直播</div>
                                <div class="live_con_desc">母亲情绪平和是对孩子最好的教育</div>
                                <div class="live_con_other">
                                    <span class="live_con_other_avatar"><img
                                            src="images/live_con_other_avatar.png"/></span>
                                    <span class="live_con_other_teacher">刘晶波教授</span>
                                </div>
                            </div>
                            <div class="live_con_bottom">
                                <span class="live_con_bottom_subscribe_ico"><img src="images/subscribe_ico.png"/></span>
                                <span class="live_con_bottom_subscribe">订&nbsp;&nbsp;阅</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="live_con">
                    <a href="#">
                        <div class="live_con_pic">
                            <img src="images/live_con_pic_4.jpg"/>
                            <div class="live_con_top">
                                <div class="live_con_title">7月24日16:00直播</div>
                                <div class="live_con_desc">母亲情绪平和是对孩子最好的教育</div>
                                <div class="live_con_other">
                                    <span class="live_con_other_avatar"><img
                                            src="images/live_con_other_avatar.png"/></span>
                                    <span class="live_con_other_teacher">刘晶波教授</span>
                                </div>
                            </div>
                            <div class="live_con_bottom">
                                <span class="live_con_bottom_subscribe_ico"><img src="images/subscribe_ico.png"/></span>
                                <span class="live_con_bottom_subscribe">订&nbsp;&nbsp;阅</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


</div>

<!--footer-->
<!--右功能按钮分享客服回到顶部-->
<div id="rig_box">
    <div class="edu-widgets">

        <div class="service">
            <a title="在线客服" id="advice">
                <a href="#" title="在线客服">
                    <i class="tab-ico"></i>
                    <em class="tab-text">联系客服</em>
                </a>
            </a>
        </div>
        <div class="g-top" title="返回顶部" style="margin-top:1px">
            <a href="#" title="返回顶部">
                <i class="tab-ico"></i>
                <em class="tab-text">回到顶部</em>
            </a>
        </div>
    </div>
    <div style="display:none;">
        {literal}
        <script>window._bd_share_config = {
            "common": {
                "bdSnsKey": {},
                "bdText": "",
                "bdMini": "1",
                "bdMiniList": ["mshare", "weixin", "tsina", "tqq", "qzone", "sqq", "copy", "print"],
                "bdPic": "",
                "bdStyle": "0",
                "bdSize": "16"
            }, "slide": {"type": "slide", "bdImg": "0", "bdPos": "right", "bdTop": "130"}
        };
        with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
        $(window).ready(function () {
            $('#rig_box div a').mouseenter(function () {
                $(this).find('em.tab-text').css("background-color", "#3793f8").animate({"left": "-61px"}, "fast");
                $(this).find('i.tab-ico').css("background-color", "#3793f8")
            });
            $('#rig_box div a').mouseleave(function () {
                $(this).find('em.tab-text').css("background-color", "#3793f8").animate({"left": "35px"}, "fast");
                $(this).find('i.tab-ico').css("background-color", "#3793f8");
            });
        })
        </script>
        {/literal}
    </div>
    <!--右功能按钮结束-->
</div>
<div class="tool-area clearfix">
    <div class="w1280">
        <div class="tool_a_l fl">
            <ul class="clearfix">
                <li class="first"><h3>帮助中心</h3></li>
                <li><a href="#">账号管理</a></li>
                <li><a href="#">积分规则</a></li>
                <li><a href="#">下载资源</a></li>
            </ul>
            <ul class="clearfix">
                <li class="first"><h3>服务支持</h3></li>
                <li><a href="#">售后政策</a></li>
                <li><a href="#">自助服务</a></li>
                <li><a href="#">相关下载</a></li>
            </ul>
            <ul class="clearfix">
                <li class="first"><h3>入驻平台</h3></li>
                <li><a href="#">幼儿园入驻</a></li>
                <li><a href="#">教研室入驻</a></li>
            </ul>
            <ul class="clearfix">
                <li class="first"><h3>关于我们</h3></li>
                <li><a href="#">加入我们</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </div>
        <div class="tool_a_r fl">
            <ul class="clearfix">
                <li><img src="images/weixin.png" width="100" height="100">
                    <p>关注微信公众平台</p></li>
                <li><img src="images/xcx.jpg" width="100" height="100">
                    <p>使用幼教小程序</p></li>
            </ul>
        </div>
        <div class="tool_service fr">
            <div class="service-tel">400-100-5678</div>
            <div class="service-time">周一至周日 8:00-18:00</div>
            <div class="service-date"><img src="images/service_ico.png"/>24小时在线客服</div>
        </div>

    </div>
</div>
<div class="footerbar clearfix">
    <div class="w1280">
        <p>主办单位：中华人名共和国教育部 运行维护：中央电化教育馆 技术支持：今日教育集团</p>
        <p>国家教育资源公共服务平台 版权所有 京ICP备0905918号-3</p>
    </div>
</div>
</body>
</html>
