<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>幼教服务系统</title>
<meta name="keywords" content="幼教服务系统"/>
<meta name="description" content="幼教服务系统" />
<link href="Css/common.css" rel="stylesheet" media="all" />
<link href="Css/index.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="Scripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="Scripts/common.js" ></script><!---焦点图js-->
<script type="text/javascript" src="Scripts/scroll.js" ></script><!--页面中滚动及从下到上滚动js-->
<style type="text/css">
    .content01y{
        background-color: inherit;
    }
</style>
</head>
<body id="index">
<!--头部-->
<div id="web-headbar">
	<div class="web-head">
		<div class="mobile-app">
			<div class="app_l">
				<a href="http://www.todayyj.com" class="app">今日幼教</a>
			</div>
			<div class="app_l" onmouseover="qr_show(this)" onmouseout="qr_hide(this)">
				<a href="javascript:void(0)" class="app">今日小记者小程序</a>
				<div class="app-box" style="display:none">
					<p>扫一扫，关注我吧！</p>
					<div class="xcx-er"></div>
				</div>
			</div>
			<div class="app_r" onmouseover="qr_show(this)" onmouseout="qr_hide(this)">
				<a href="javascript:void(0)" class="weixin">幼教三六五微信公众平台</a>
				<div class="app-box weixin-box" style="display:none">
					<p>扫一扫，关注我吧！</p>
					<div class="weixin-er"></div>
				</div>
			</div>
		</div>
		<div class="head-tool">
			<div class="toolbox">
				<div class="toolbox-simple">
					<a class="toolbox-one-link" href="#">登录</a>
				</div>
			</div>
			<div class="line">|</div>
			<div class="toolbox">
				<div class="toolbox-simple ">
					<a href="#" class="toolbox-one-link" target="_blank">免费注册</a>
				</div>
			</div>
			<div class="line">|</div>
			<div class="toolbox">
				<div class="toolbox-simple toolbox-r">
					<a href="#" class="toolbox-one-link" target="_blank">消息通知</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="Scripts/header.js"></script>


<!--头部end-->
<!--logo-->
<div id="headerbar">
    <div class="clearfix" id="header">
        <div class="logo">
            <a class="logo-img" href="/"></a>
        </div>
        <div class="menu_nav">
            <ul class="navs clearfix">
                <li><a href="/web">首页</a></li>
                <li><a href="/web/res" class="on">幼教资源</a></li>
                <li><a href="#">职场人生</a></li>
                <li><a href="#">活动专区</a></li>
                <li><a href="#">直播课堂</a><img src="Images/new_ico.png" class="new_nav"/></li>
            </ul>
        </div>
        <div class="search_btn">
            <img src="Images/search_btn.png"/>
        </div>
    </div>
</div>
<!--logo end-->

<!--主体内容end-->

<!--主体部分开始-->
<div class="mainwraper">
    <div class="content content01y clearfix">
        <div class="mainbox clearfix">
            <div class="here_url">
                <span>幼教服务系统 > 幼教资源 > </span><span class="here_url_title">正文</span>
            </div>
            <div class="resource_cons no_top">
                <div class="resource_cons_left">
                    <div class="resource_cons_left_top">
                        <div class="resource_cons_left_top_title">
                            育儿专家张思莱：高质量的陪伴是孩子最好的玩具！
                        </div>
                        <div class="resource_cons_left_top_desc">
                            <div class="resource_cons_left_top_descx"><img src="images/copyright_ico.png"/>来自：刘晶波教授</div>
                            <div class="resource_cons_left_top_descx"><img src="images/view_ico.png"/>1888</div>
                            <div class="resource_cons_left_top_descx"><img src="images/date_ico.png"/>2018/07/24</div>
                        </div>
                    </div>
                    <div class="resource_cons_left_left" id="LeftTool">
                        <div class="s-ewm">
                            <img src="images/s-ewm.jpg">
                            <div>微信扫码手机浏览</div>
                        </div>
                        <div class="share-title through" data-bossirs="share"><span>分享</span></div>
                        <div class="share" data-bosszone="share">
                            <a class="wxWrap"><i class="iconfont icon-icon-"></i><div class="qrcode hidden"><div id="qrcode" title=""><canvas width="113" height="113" style="display: none;"></canvas><img alt="Scan me!" src="" style="display: block;"></div></div></a>
                            <a class="qqWrap"><i class="iconfont icon-qq1"></i></a>
                            <a class="kjWrap"><i class="iconfont icon-qqkongjian"></i></a>
                            <a class="wbWrap"><i class="iconfont icon-weibo1"></i></a>
                        </div>
                        <div class="comment-count-title through"><span>评论</span></div>
                        <a target="_blank" id="cmtLink" class="comment-count" data-bosszone="pls" data-bossirs="pls" href="http://coral.qq.com/3271358992"><span></span><span></span><span></span><div class="text"><i id="cmtNum">680</i></div></a>
                    </div>
                    <div class="resource_cons_left_right">
                        <p class="one-p">【环球网综合报道】据韩联社10月28日报道，韩国国防部一位负责人当天表示，朝鲜和韩国等有关方面针对“解除板门店共同警备区(JSA)武装”的共同检查工作已于昨日结束。由此，朝韩民众与外国游客等最快将从下月起自由出入共同警备区。</p>
                        <p class="one-p">【环球网综合报道】据韩联社10月28日报道，韩国国防部一位负责人当天表示，朝鲜和韩国等有关方面针对“解除板门店共同警备区(JSA)武装”的共同检查工作已于昨日结束。由此，朝韩民众与外国游客等最快将从下月起自由出入共同警备区。</p>
                        <p class="one-p">【环球网综合报道】据韩联社10月28日报道，韩国国防部一位负责人当天表示，朝鲜和韩国等有关方面针对“解除板门店共同警备区(JSA)武装”的共同检查工作已于昨日结束。由此，朝韩民众与外国游客等最快将从下月起自由出入共同警备区。</p>
                        <p class="one-p">【环球网综合报道】据韩联社10月28日报道，韩国国防部一位负责人当天表示，朝鲜和韩国等有关方面针对“解除板门店共同警备区(JSA)武装”的共同检查工作已于昨日结束。由此，朝韩民众与外国游客等最快将从下月起自由出入共同警备区。</p>
                        <p class="one-p">【环球网综合报道】据韩联社10月28日报道，韩国国防部一位负责人当天表示，朝鲜和韩国等有关方面针对“解除板门店共同警备区(JSA)武装”的共同检查工作已于昨日结束。由此，朝韩民众与外国游客等最快将从下月起自由出入共同警备区。</p>
                        <p class="one-p">【环球网综合报道】据韩联社10月28日报道，韩国国防部一位负责人当天表示，朝鲜和韩国等有关方面针对“解除板门店共同警备区(JSA)武装”的共同检查工作已于昨日结束。由此，朝韩民众与外国游客等最快将从下月起自由出入共同警备区。</p>
                        <p class="one-p">【环球网综合报道】据韩联社10月28日报道，韩国国防部一位负责人当天表示，朝鲜和韩国等有关方面针对“解除板门店共同警备区(JSA)武装”的共同检查工作已于昨日结束。由此，朝韩民众与外国游客等最快将从下月起自由出入共同警备区。</p>
                    </div>
                    <div class="resource_cons_left_bottom">
                        <div class="comment_box">
                        </div>
                    </div>
                </div>
                <div class="resource_cons_right">
                    <div class="resource_cons_right_rank">
                        <div class="resource_cons_right_rank_title">
                        资源排行榜
                        </div>
                        <div class="resource_cons_right_rank_content">
                            <div class="resource_cons_right_rank_content_list">
                                <div class="resource_cons_right_rank_content_list_title">
                                    <span class="resource_cons_right_rank_content_list_title_one">1.</span><span>大班体育活动《我的本领大》</span>
                                </div>
                                <div class="resource_cons_right_rank_content_list_status">
                                    <img src="images/indexmark_ico.png" class="indexmark_ico"/><span>65</span><img src="images/rise_ico.png" class="risedecline_ico"/>
                                </div>
                                <div class="resource_cons_right_rank_content_list_img">
                                    <img src="images/resource_cons_right_rank_content_list_img.jpg"/>
                                </div>
                            </div>
                            <div class="resource_cons_right_rank_content_list">
                                <div class="resource_cons_right_rank_content_list_title">
                                    <span class="resource_cons_right_rank_content_list_title_two">2.</span><span>大班体育活动《我的本领大》</span>
                                </div>
                                <div class="resource_cons_right_rank_content_list_status">
                                    <img src="images/indexmark_ico.png" class="indexmark_ico"/><span>50</span><img src="images/decline_ico.png" class="risedecline_ico"/>
                                </div>
                            </div>
                            <div class="resource_cons_right_rank_content_list">
                                <div class="resource_cons_right_rank_content_list_title">
                                    <span class="resource_cons_right_rank_content_list_title_three">3.</span><span>大班体育活动《我的本领大》</span>
                                </div>
                                <div class="resource_cons_right_rank_content_list_status">
                                    <img src="images/indexmark_ico.png" class="indexmark_ico"/><span>50</span><img src="images/decline_ico.png" class="risedecline_ico"/>
                                </div>
                            </div>
                            <div class="resource_cons_right_rank_content_list">
                                <div class="resource_cons_right_rank_content_list_title">
                                    <span class="resource_cons_right_rank_content_list_title_other">4.</span><span>大班体育活动《我的本领大》</span>
                                </div>
                                <div class="resource_cons_right_rank_content_list_status">
                                    <img src="images/indexmark_ico.png" class="indexmark_ico"/><span>50</span><img src="images/decline_ico.png" class="risedecline_ico"/>
                                </div>
                            </div>
                            <div class="resource_cons_right_rank_content_list">
                                <div class="resource_cons_right_rank_content_list_title">
                                    <span class="resource_cons_right_rank_content_list_title_other">5.</span><span>大班体育活动《我的本领大》</span>
                                </div>
                                <div class="resource_cons_right_rank_content_list_status">
                                    <img src="images/indexmark_ico.png" class="indexmark_ico"/><span>50</span><img src="images/decline_ico.png" class="risedecline_ico"/>
                                </div>
                            </div>
                            <div class="resource_cons_right_rank_content_list">
                                <div class="resource_cons_right_rank_content_list_title">
                                    <span class="resource_cons_right_rank_content_list_title_other">6.</span><span>大班体育活动《我的本领大》</span>
                                </div>
                                <div class="resource_cons_right_rank_content_list_status">
                                    <img src="images/indexmark_ico.png" class="indexmark_ico"/><span>50</span><img src="images/decline_ico.png" class="risedecline_ico"/>
                                </div>
                            </div>
                            <div class="resource_cons_right_rank_content_list">
                                <div class="resource_cons_right_rank_content_list_title">
                                    <span class="resource_cons_right_rank_content_list_title_other">7.</span><span>大班体育活动《我的本领大》</span>
                                </div>
                                <div class="resource_cons_right_rank_content_list_status">
                                    <img src="images/indexmark_ico.png" class="indexmark_ico"/><span>50</span><img src="images/decline_ico.png" class="risedecline_ico"/>
                                </div>
                            </div>
                            <div class="resource_cons_right_rank_content_list">
                                <div class="resource_cons_right_rank_content_list_title">
                                    <span class="resource_cons_right_rank_content_list_title_other">8.</span><span>大班体育活动《我的本领大》</span>
                                </div>
                                <div class="resource_cons_right_rank_content_list_status">
                                    <img src="images/indexmark_ico.png" class="indexmark_ico"/><span>50</span><img src="images/decline_ico.png" class="risedecline_ico"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="resource_cons_right_tags">
                        <div class="resource_cons_right_tags_title">
                        热门标签
                        </div>
                        <div class="resource_cons_right_tags_content">
                            <div>幼儿</div>
                            <div>家长</div>
                            <div>幼儿园</div>
                            <div>专家指导</div>
                            <div>家园共育</div>
                            <div>教学培训</div>
                            <div>直播课程</div>
                            <div>中央电教馆</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-->

<!--右功能按钮分享客服回到顶部-->
<div id="rig_box">
    <div class="edu-widgets">

       <div class="service" >
           <a title="在线客服" id="advice">
				<a href="#" title="在线客服">
                	<i class="tab-ico"></i>
                    <em class="tab-text">联系客服</em>
                </a>
			</a>
        </div>
        <div class="g-top" title="返回顶部" style="margin-top:1px">
            <a href="#" title="返回顶部">
            	<i class="tab-ico"></i>
                <em class="tab-text">回到顶部</em>
            </a>
        </div>
    </div>
 <div style="display:none;">
{literal}
    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":["mshare","weixin","tsina","tqq","qzone","sqq","copy","print"],"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"0","bdPos":"right","bdTop":"130"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];$(window).ready(function(){$('#rig_box div a').mouseenter(function(){$(this).find('em.tab-text').css("background-color","#3793f8").animate({"left":"-61px"},"fast");$(this).find('i.tab-ico').css("background-color","#3793f8")});	$('#rig_box div a').mouseleave(function(){$(this).find('em.tab-text').css("background-color","#3793f8").animate({"left":"35px"},"fast");$(this).find('i.tab-ico').css("background-color","#3793f8");});})
</script>
{/literal}
</div>
<!--右功能按钮结束-->
</div>

<div class="tool-area clearfix">
    <div class="w1280">
        <div class="tool_a_l fl">
            <ul class="clearfix">
                <li class="first"><h3>帮助中心</h3></li>
                <li><a href="#">账号管理</a></li>
                <li><a href="#">积分规则</a></li>
                <li><a href="#">下载资源</a></li>
            </ul>
            <ul class="clearfix">
                <li class="first"><h3>服务支持</h3></li>
                <li><a href="#">售后政策</a></li>
                <li><a href="#">自助服务</a></li>
                <li><a href="#">相关下载</a></li>
            </ul>
            <ul class="clearfix">
                <li class="first"><h3>入驻平台</h3></li>
                <li><a href="#">幼儿园入驻</a></li>
                <li><a href="#">教研室入驻</a></li>
            </ul>
            <ul class="clearfix">
                <li class="first"><h3>关于我们</h3></li>
                <li><a href="#">加入我们</a></li>
                <li><a href="#">联系我们</a></li>
            </ul>
        </div>
        <div class="tool_a_r fl">
            <ul class="clearfix">
                <li><img src="images/weixin.png" width="100" height="100"><p>关注微信公众平台</p></li>
                <li><img src="images/xcx.jpg" width="100" height="100"><p>使用幼教小程序</p></li>
            </ul>
        </div>
        <div class="tool_service fr">
            <div class="service-tel">400-100-5678</div>
            <div class="service-time">周一至周日  8:00-18:00</div>
            <div class="service-date"><img src="images/service_ico.png"/>24小时在线客服</div>
        </div>

    </div>
</div>
<div class="footerbar clearfix">
    <div class="w1280">
        <p>主办单位：中华人名共和国教育部  运行维护：中央电化教育馆  技术支持：今日教育集团</p>
        <p>国家教育资源公共服务平台 版权所有 京ICP备0905918号-3</p>
    </div>
</div>

</body>

</html>
